@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    background-color: red;
}

.topNav img {
    size: 30px;
    position: fixed;
}

li { 
    float: left;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;-color: #dddddd;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #2b2a2a;
}

