@tailwind base;
@tailwind components;
@tailwind utilities;

.topNav img {
    size: 30px;
    position: fixed;
}

.honk {
    background-color: blue;
}

li { 
    float: left;
}

.right{
    float: right;
}

.left {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3535c2;-color: #dddddd;
    top: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #2b2a2a;
}

li button{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #2b2a2a;

}

.navbar {
    width: full;
}