#map { height: 180px; }

.leaflet-container {
    width: 750px;
    height: 600px;
    position: right;
}

.eep{
    background-color: #3535c2;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 70%;
}